In [123]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(20.7,8.27)})
import re
from transliterate import translit
import unidecode
import json

In [44]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ------------------------------------ 235.9/235.9 kB 307.0 kB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
data = pd.read_csv("authors_raw.csv", low_memory=False)
data.head()

,_id,name,article_id,org,gid,oid,orgid,sid,email,orgs,orcid,bio,name_zh,org_zh,oid_zh,orgs_zh,position,avatar,homepage
0,53f45728dabfaec09f209538,Peijuan Wang,53e99784b7602d9701f3e133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5601754345cedb3395e59457,Jiahua Zhang,53e99784b7602d9701f3e133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,53f38438dabfae4b34a08928,Donghui Xie,53e99784b7602d9701f3e133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5601754345cedb3395e5945a,Yanyan Xu,53e99784b7602d9701f3e133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,53f43d25dabfaeecd6995149,Yun Xu,53e99784b7602d9701f3e133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# map_article_authors

In [3]:
map_article_authors=data[['article_id', '_id']]

In [4]:
map_article_authors.rename(columns={"_id": "id_author", "article_id": "id_article"}, inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\3184180875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  map_article_authors.rename(columns={"_id": "id_author", "article_id": "id_article"}, inplace=True)

In [6]:
map_article_authors.drop_duplicates(inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\3186635343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  map_article_authors.drop_duplicates(inplace=True)

In [82]:
map_article_authors.dropna(how='any', inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\2343487446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  map_article_authors.dropna(how='any', inplace=True)

In [85]:
map_article_authors.to_csv('db_map_article_authors.csv', index=False)

# authors

In [47]:
authors=data[['_id', 'name']]

In [48]:
authors.rename(columns={"_id": "id_author"}, inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\1502209958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors.rename(columns={"_id": "id_author"}, inplace=True)

In [49]:

reg = re.compile('[^a-zA-Z ]')

In [50]:
authors['name']=authors['name'].apply(lambda x: ' '.join(reg.sub('', unidecode.unidecode(str(x))).lower().strip().split()))

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\1159549131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors['name']=authors['name'].apply(lambda x: ' '.join(reg.sub('', unidecode.unidecode(str(x))).lower().strip().split()))

In [63]:
authors.sort_values('name', ascending=False, key=lambda x: x.str.len() , inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\3395024182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors.sort_values('name', ascending=False, key=lambda x: x.str.len() , inplace=True)

In [64]:
authors.drop_duplicates('id_author', inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\3285357237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors.drop_duplicates('id_author', inplace=True)

In [69]:
authors.dropna(how='any', inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\1894762027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors.dropna(how='any', inplace=True)

In [76]:
authors=authors[authors['name'].str.len()>0]

In [79]:
authors.to_csv('db_authors.csv', index=False)

# orgs

In [193]:
orgs=data[['_id', 'org']]
orgs.rename(columns={"_id": "id_author"}, inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\751168700.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orgs.rename(columns={"_id": "id_author"}, inplace=True)

In [194]:
orgs=orgs[~orgs['id_author'].isna()]
orgs=orgs[~orgs['org'].isna()]

In [195]:
orgs_2=data[['_id', 'orgs']]
orgs_2.rename(columns={"_id": "id_author"}, inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\2529616295.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orgs_2.rename(columns={"_id": "id_author"}, inplace=True)

In [98]:
orgs_2=orgs_2[~orgs_2['id_author'].isna()]
orgs_2=orgs_2[~orgs_2['orgs'].isna()]

In [188]:
res=[]
for i in range(len(orgs_2)):
    id_author=orgs_2.iloc[i]['id_author']
    q='{"orgs" : ' +orgs_2.iloc[i]['orgs'] + "}"
    try:
        arr=json.loads(q.replace("\'", "\""))
        for k in arr['orgs']:        
            res.append((id_author, k))
    except:
        pass

In [196]:
orgs.append(pd.DataFrame(res, columns=['id_author', 'org']))

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15596\3345660897.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  orgs.append(pd.DataFrame(res, columns=['id_author', 'org']))

,id_author,org
10,53f46946dabfaec09f24b4ed,Miguel Palma Studio
11,53f43d95dabfaedf435b63fa,"Fox Studios Australia, Moore Park, New South W..."
20,53f4312edabfaee02ac9110a,"Wroclaw, Poland"
31,53f44a4adabfaedd74dfe5c0,"Filmakademie Baden-Württemberg, Ludwigsburg, G..."
32,53f42fd0dabfaedd74d553b0,"Iwano Design, Nagakute Aichi, Japan"
...,...,...
4630302,53f43a27dabfaeb22f4940f4,"King Abdullah Univ Sci & Technol KAUST, Extrem..."
4630303,542cb361dabfae4bbcf69ae9,"Shandong Univ Technol, Sch Math & Stat, 266 Xi..."
4630304,542a3356dabfae5848aa91d1,"Shandong Acad Social Sci, Inst Rural Dev, 56 S..."
4630305,542c2d70dabfae2b4e1eb871,"China Univ Petr, Coll Comp Sci & Technol, 66 C..."
4630306,5447fc6adabfae87b7dbbd13,"[Carnegie Mellon University, Pittsburgh, USA]"

In [197]:
orgs.drop_duplicates(inplace=True)

In [201]:
orgs.to_csv('db_orgs.csv', index=False)