In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(20.7,8.27)})
import re
from transliterate import translit
import unidecode
import json

In [2]:
data = pd.read_csv("venue_raw.csv", low_memory=False)
data.head()

,type,article_id,_id,name_d,raw,raw_zh,publisher,sid,issn,t,online_issn,name_s,name,src
0,0.0,53e99784b7602d9701f3e3f5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,53e99784b7602d9701f3e133,53a7297d20f7420be8bd4ae7,International Geoscience and Remote Sensing Sy...,IGARSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,53e99784b7602d9701f3e151,53a72a4920f7420be8bfa51b,International Conference on Document Analysis ...,ICDAR-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,53e99784b7602d9701f3e15d,53a72e2020f7420be8c80142,International Symposium on Circuits and Systems,ISCAS (3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,53e99784b7602d9701f3e161,5390a74a20f70186a0e8b40b,NaN,ACM SIGGRAPH ASIA 2009 Art Gallery & Emerging ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# map_article_venue

In [4]:
map_article_venue=data[['article_id', '_id']]

In [5]:
map_article_venue.rename(columns={"_id": "id_venue", "article_id": "id_article"}, inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15968\2498343817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  map_article_venue.rename(columns={"_id": "id_venue", "article_id": "id_article"}, inplace=True)

In [6]:
map_article_venue.drop_duplicates(inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15968\1174457844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  map_article_venue.drop_duplicates(inplace=True)

In [7]:
map_article_venue.dropna(how='any', inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15968\2590078096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  map_article_venue.dropna(how='any', inplace=True)

In [8]:
map_article_venue.to_csv('db_map_article_venue.csv', index=False)

# authors

In [9]:
venue=data[['_id', 'raw']]

In [10]:
venue.rename(columns={"_id": "id_venue", 'raw': 'name'}, inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15968\2079510540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue.rename(columns={"_id": "id_venue", 'raw': 'name'}, inplace=True)

In [11]:
reg = re.compile('[^a-zA-Z ]')

In [12]:
venue['name']=venue['name'].apply(lambda x: ' '.join(reg.sub('', unidecode.unidecode(str(x))).lower().strip().split()))

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15968\1679783884.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue['name']=venue['name'].apply(lambda x: ' '.join(reg.sub('', unidecode.unidecode(str(x))).lower().strip().split()))

In [13]:
venue.sort_values('name', ascending=False, key=lambda x: x.str.len() , inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15968\1590716031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue.sort_values('name', ascending=False, key=lambda x: x.str.len() , inplace=True)

In [14]:
venue.drop_duplicates('id_venue', inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15968\502863588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue.drop_duplicates('id_venue', inplace=True)

In [15]:
venue.dropna(how='any', inplace=True)

C:\Users\mrnik\AppData\Local\Temp\ipykernel_15968\1859506302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue.dropna(how='any', inplace=True)

In [17]:
venue=venue[venue['name'].str.len()>0]

In [18]:
venue.to_csv('db_venue.csv', index=False)

In [19]:
venue

,id_venue,name
2661456,584804a89ed5db32658609c5,proceedings th ieee international conference o...
1034813,5390b14820f70186a0ede3b7,aiasabebi proceedings of the th wseas internat...
666624,539091dc20f70186a0de1ab2,decomposition of general queueing network mode...
2517257,553a79550cf288c3e227433b,uicatcscalcom proceedings of the ieee th intl ...
4439097,539089fa20f70186a0d9c89a,adbisdasfaa proceedings of the easteuropean co...
...,...,...
767566,53a72a8820f7420be8c04ab5,b
2374882,53a725d820f7420be8b5b56b,i
2472696,53909c2020f70186a0e2578e,s
3464365,53a72cdf20f7420be8c5199a,s
3464344,53a72cdf20f7420be8c5199b,s

In [197]:
orgs.drop_duplicates(inplace=True)

In [201]:
orgs.to_csv('db_orgs.csv', index=False)