In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data_venue = pd.read_csv("venue_raw.csv", low_memory=False)

In [4]:
data.head()

                        _id                                           abstract
0  53e99784b7602d9701f3e133  Drought is the first place in all the natural ...
1  53e99784b7602d9701f3e15d  As process variations become a significant pro...
2  53e99784b7602d9701f3e161  360° represents the concerns that are addresse...
3  53e99784b7602d9701f3e4f4  "2BTextures", a two-movement audio/visual expe...
4  53e99784b7602d9701f3eaf2  Constructing a system that can cope with a dyn...

In [7]:
data[data['abstract'].isna()]

Empty DataFrame
Columns: [_id, abstract]
Index: []